body {
    margin: 0;
    padding: 0;
}

.heading {
    background-color: salmon;
    color: white;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
}